body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	background-color: rgb(30, 30, 30);
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	color: #a5a1e7;
	font-family: "Source Code Pro", monospace;
	font-weight: bold;
	font-size: 3rem;
	margin: 10px;
	text-align: center;
	width: 100%;
}

h2 {
	color: #e4deb0;
	font-family: "Source Code Pro", monospace;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	text-align: center;
}
h3 {
	color: #94ddb5;
}

.main-content {
	top: 38%;
	left: 50%;
	position: absolute;
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
	.main-content {
		width: 90%;
	}
}

.profile_img {
	margin-top: 160px;
	border-radius: 50%;
	width: 250px;
}

a {
	color: #61a7b1;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #708ea8;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

/* Figure Image */
figure {
	margin-bottom: 1.5em;
}

/* Icons */
.social {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 50px;
}
.social li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	position: relative;
}
.social li a {
	font-size: 25px;
	color: #8edfd4;
	padding: 14px 14px;
	border-radius: 4px;
	font-weight: bold;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	body {
		background-repeat: no-repeat;
	}

	.social li a {
		padding: 14px 10px;
		visibility: visible;
	}
}

.social li a:hover {
	color: #966aa1;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	outline: none;
	text-decoration: none;
}

/* Footer */
#footer {
	color: #dadada;
	font-size: 14px;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

/* Particles container */
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(30, 30, 30);
	text-align: center;
	background-size: cover;
}
